* {
  margin: 0;
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#calculator {
  position: relative;
  top: 50%;
  margin: -250px auto;
  max-width: 600px;
  font-family: arial, sans-serif;
}

#buttons-panel {
  font-size: 28px;
  text-align: center;
}

.button {
  float: left;
  width: 25%;
  cursor: default;
}

.button:hover {
  z-index: 1;
}

.button:hover span {
  position: relative;
  left: -8px;
  top: -8px;
  box-shadow: 8px 8px 10px 3px rgba(0,0,0,.3);
}

#clear span {
  color: #fff;
  background-color: #dd2f04;
}

#delete {
  float: right;
}

#delete span {
  background-color: #000;
  color: #fff;
}

.clearfix{
  clear: both;
}

.button span{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  padding: 20px;
  border-color: #ccc #666 #333 #aaa;
  transition: all 0.3s;
}

.button.digit span {
  background-color: #e8b563;
}

.button.operator span {
  background-color: #4e6b5e;
}

.button.dot span {
  background-color: #ce8967;
}

#display {
  padding: 0 10px;
  font-size: 76px;
  text-align: right;
  line-height: 80px;
  font-family: Digital7, monospace;
  background-color: #eee;
}

#display div {
  position: relative;
  display: inline-block;
}

#display div span {
  color: #ddd;
}
#display div span.output {
  position: absolute;
  right: 0%;
  color: #000;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;
}
#display div span.output.active {
  position: absolute;
  color: #000;
  opacity: 1;
}

@font-face {
    font-family: Digital7;
    font-style: italic;
    src: url("digital-7 (italic).ttf");
}
